.header{
    background-color: #1c39bb;
}
.header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.buttonWrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buttonWrapper button{
    outline: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-weight: 600;
    

}

.secondary{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}

.primary{
    color: blue;
    border: 2px solid white;
    
}