.footer{
    background-color: #1c39bb;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem
    ;
}
.wrapper div{
    color: whitesmoke;
    flex: 1;
}
.wrapper div{
    text-align: center;
}
.wrapper p{
    color: #B7BAC5;  
} 
.wrapper a{
    text-decoration: none;
    display: block;
    margin: 5px 0;
    color: #B7BAC5;
}

.wrapper h4{
    padding-bottom: 2rem;
}
@media (min-width: 640px) {
    .wrapper {
        flex-direction: row;
        align-items: start;
    }
}
